<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect trailing slash to the the same path without slash
    RewriteRule ^(.*)/$ /$1 [R=301,L]

    # Redirect to index if not a valid directory or file
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
